/****** Object:  Database [nczdev]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'nczdev')
BEGIN
CREATE DATABASE [nczdev]  (EDITION = 'GeneralPurpose', SERVICE_OBJECTIVE = 'GP_S_Gen5_1', MAXSIZE = 32 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;

END
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Schema [DataModel]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'DataModel')
EXEC sys.sp_executesql N'CREATE SCHEMA [DataModel]'
GO
/****** Object:  Schema [Dimension]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Dimension')
EXEC sys.sp_executesql N'CREATE SCHEMA [Dimension]'
GO
/****** Object:  Schema [Emissions]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Emissions')
EXEC sys.sp_executesql N'CREATE SCHEMA [Emissions]'
GO
/****** Object:  Schema [Fact]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Fact')
EXEC sys.sp_executesql N'CREATE SCHEMA [Fact]'
GO
/****** Object:  Schema [Forms]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Forms')
EXEC sys.sp_executesql N'CREATE SCHEMA [Forms]'
GO
/****** Object:  Schema [Lookups]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Lookups')
EXEC sys.sp_executesql N'CREATE SCHEMA [Lookups]'
GO
/****** Object:  Schema [Utilities]    Script Date: 26-12-2023 10:08:22 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Utilities')
EXEC sys.sp_executesql N'CREATE SCHEMA [Utilities]'
GO
/****** Object:  UserDefinedFunction [Utilities].[CalculateEf]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Utilities].[CalculateEf]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [Utilities].[CalculateEf]
( 
	@emissionActivityId INT
	,@emissionProfileId INT
	,@userInput decimal(10,2)
	,@conversionFactor decimal(10,4)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
  DECLARE @ef decimal(10,5), @id INT;

	SELECT TOP 1 @id = id, @ef = ef 
		FROM [Emissions].[EmissionFactor] 
	 WHERE [activityId] = @emissionActivityId
		 AND [emissionProfileId] = @emissionProfileId

	DECLARE @result DECIMAL(10,2)
	IF @id IS NULL 
		SET @result = 0;
	ELSE
		SET @result = @userInput * @conversionFactor * cast(ISNULL(@ef, 0) as decimal(10,4)) 

	RETURN @result;

END

' 
END
GO
/****** Object:  UserDefinedFunction [Utilities].[CalculateTnd]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Utilities].[CalculateTnd]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [Utilities].[CalculateTnd]
( 
	@emissionActivityId INT
	,@emissionProfileId INT
	,@userInput decimal(10,2)
	,@conversionFactor decimal(10,4)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
  DECLARE @tnd decimal(10,5), @id INT;

	SELECT TOP 1 @id = id, @tnd = tnd 
		FROM [Emissions].[EmissionFactor] 
	 WHERE [activityId] = @emissionActivityId
		 AND [emissionProfileId] = @emissionProfileId

	DECLARE @result DECIMAL(10,2)
	IF @id IS NULL 
		SET @result = 0;
	ELSE
		SET @result = @userInput * @conversionFactor * cast(ISNULL(@tnd, 0) as decimal(10,4)) 

	RETURN @result;

END


' 
END
GO
/****** Object:  UserDefinedFunction [Utilities].[CalculateTndWtt]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Utilities].[CalculateTndWtt]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [Utilities].[CalculateTndWtt]
( 
	@emissionActivityId INT
	,@emissionProfileId INT
	,@userInput decimal(10,2)
	,@conversionFactor decimal(10,4)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
  DECLARE @tndWtt decimal(10,5), @id INT;

	SELECT TOP 1 @id = id, @tndWtt = tndWtt 
		FROM [Emissions].[EmissionFactor] 
	 WHERE [activityId] = @emissionActivityId
		 AND [emissionProfileId] = @emissionProfileId

	DECLARE @result DECIMAL(10,2)
	IF @id IS NULL 
		SET @result = 0;
	ELSE
		SET @result = @userInput * @conversionFactor * cast(ISNULL(@tndWtt, 0) as decimal(10,4)) 

	RETURN @result;

END



' 
END
GO
/****** Object:  UserDefinedFunction [Utilities].[CalculateTotalEmission]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Utilities].[CalculateTotalEmission]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [Utilities].[CalculateTotalEmission]
( 
	@emissionActivityId INT
	,@emissionProfileId INT
	,@userInput decimal(10,2)
	,@conversionFactor decimal(10,4)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
  DECLARE @ef decimal(10,5), @wtt decimal(10,5), @tnd decimal(10,5), @tndWtt decimal(10,5), @id INT;

	SELECT TOP 1 @id = id
				,@ef = ef 
				,@wtt = wtt 
				,@tnd = tnd 
				,@tndWtt = tndWtt 
		FROM [Emissions].[EmissionFactor] 
	 WHERE [activityId] = @emissionActivityId
		 AND [emissionProfileId] = @emissionProfileId

	DECLARE @result DECIMAL(10,2)
	IF @id IS NULL 
		SET @result = 0;
	ELSE
	BEGIN
		DECLARE @effectiveInput DECIMAL(10, 4) = @userInput * @conversionFactor 
		SET @result = (@effectiveInput * cast(ISNULL(@ef, 0) as decimal(10,4)))
								+ (@effectiveInput * cast(ISNULL(@wtt, 0) as decimal(10,4)))
								+ (@effectiveInput * cast(ISNULL(@tnd, 0) as decimal(10,4)))
								+ (@effectiveInput * cast(ISNULL(@tndWtt, 0) as decimal(10,4)))
	END
	RETURN ROUND(@result, 2);

END
' 
END
GO
/****** Object:  UserDefinedFunction [Utilities].[CalculateWtt]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Utilities].[CalculateWtt]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'CREATE FUNCTION [Utilities].[CalculateWtt]
( 
	@emissionActivityId INT
	,@emissionProfileId INT
	,@userInput decimal(10,2)
	,@conversionFactor decimal(10,4)
)
RETURNS DECIMAL(10,2)
AS
BEGIN
  DECLARE @wtt decimal(10,5), @id INT;

	SELECT TOP 1 @id = id, @wtt = wtt 
		FROM [Emissions].[EmissionFactor] 
	 WHERE [activityId] = @emissionActivityId
		 AND [emissionProfileId] = @emissionProfileId

	DECLARE @result DECIMAL(10,2)
	IF @id IS NULL 
		SET @result = 0;
	ELSE
		SET @result = @userInput * @conversionFactor * cast(ISNULL(@wtt, 0) as decimal(10,4)) 

	RETURN @result;

END


' 
END
GO
/****** Object:  Table [Emissions].[EmissionActivity]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionActivity]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionActivity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentId] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Fact].[Emission]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Fact].[Emission]') AND type in (N'U'))
BEGIN
CREATE TABLE [Fact].[Emission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emissionActivityId] [int] NOT NULL,
	[entityId] [int] NOT NULL,
	[entityTypeId] [int] NOT NULL,
	[submissionId] [int] NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[reportingFrequencyId] [int] NULL,
	[userInput] [decimal](10, 2) NULL,
	[conversionFactor] [decimal](10, 4) NULL,
	[dataUnit] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Form]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Form]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[sourceId] [int] NOT NULL,
	[dataSourceId] [int] NOT NULL,
	[entityTypeId] [int] NOT NULL,
	[categoryId] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Submission]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Submission]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Submission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entityId] [int] NOT NULL,
	[entityTypeId] [int] NOT NULL,
	[formId] [int] NOT NULL,
	[sourceId] [int] NOT NULL,
	[dataSourceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[CustomerProfile]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[CustomerProfile]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[CustomerProfile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[reference] [nvarchar](25) NULL,
	[description] [nvarchar](250) NULL,
	[periodStart] [date] NULL,
	[periodEnd] [date] NULL,
	[headCount] [int] NULL,
	[annualRevenue] [decimal](10, 2) NULL,
	[industryType] [nvarchar](100) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[FormCategory]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[FormCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[FormCategory](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[ReportingFrequency]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[ReportingFrequency]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[ReportingFrequency](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  View [DataModel].[vCertificationSubsmissions]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[DataModel].[vCertificationSubsmissions]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [DataModel].[vCertificationSubsmissions] AS 
SELECT cp.id as [customerProfileId]
			,cp.reference as [customerReference]
			,f.id as [formId]
			,f.name as [formName]
			,fc.name as [formCategory]
			,cp.periodStart
			,cp.periodEnd
			,ea.id as [emissionActivityId]
			,ea.name as [emissionActivityName]
			,r.id as [reportingFrequencyId]
			,r.name as [reportingFrequency]
			,e.submissionId
			,e.[month]
			,e.userInput
			,e.conversionFactor
			,e.dataUnit
	FROM Fact.Emission e
INNER JOIN Dimension.Submission s on s.id = e.submissionId
INNER JOIN Dimension.CustomerProfile cp on cp.id = e.entityId AND e.entityTypeId = 1
INNER JOIN Dimension.Form f on f.id = s.formId
INNER JOIN Emissions.EmissionActivity ea on ea.id = e.emissionActivityId
LEFT JOIN Lookups.ReportingFrequency r on r.id = e.reportingFrequencyId
LEFT JOIN Lookups.FormCategory fc on fc.id = f.categoryId' 
GO
/****** Object:  Table [Forms].[Response]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[Response]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[Response](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submissionId] [int] NOT NULL,
	[questionId] [int] NOT NULL,
	[value] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Event]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Event]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[reference] [nvarchar](50) NOT NULL,
	[type] [nvarchar](25) NULL,
	[organiserName] [nvarchar](100) NULL,
	[organiserEmail] [nvarchar](100) NULL,
	[companyName] [nvarchar](100) NULL,
	[location] [nvarchar](250) NULL,
	[locationType] [nvarchar](100) NULL,
	[startDateTime] [datetime] NULL,
	[endDateTime] [datetime] NULL,
	[noOfAttendees] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Emissions].[EmissionCategory]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[parentId] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  View [DataModel].[vEventSubmissions]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[DataModel].[vEventSubmissions]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [DataModel].[vEventSubmissions] AS 
SELECT ev.id as [eventId]
			,ev.reference as [eventReference]
			--,ev.title as [eventTitle]
			--,ev.startDateTime
			--,ev.endDateTime
			--,ev.noOfAttendees as attendees
			,f.id as [formId]
			,f.name as [formName]
			,fc.name as [formCategory]
			,ec.id as [categoryId]
			,ec.name as [categoryName]
			,ea.id as [emissionActivityId]
			,ea.name as [emissionActivityName]
			,e.submissionId
			,e.[month]
			,e.userInput
			,e.conversionFactor
			,e.dataUnit
			,(SELECT [value] FROM Forms.Response r WHERE r.submissionId = e.submissionId AND r.questionId = 128) as [userName]
			,(SELECT [value] FROM Forms.Response r WHERE r.submissionId = e.submissionId AND r.questionId = 129) as [userEmail]
				,[Utilities].[CalculateEf](e.emissionActivityId, 1, e.userInput, e.conversionFactor) as [totalEf]
				,[Utilities].[CalculateWtt](e.emissionActivityId, 1, e.userInput, e.conversionFactor) as [totalWtt]
				,[Utilities].[CalculateTotalEmission](e.emissionActivityId, 1, e.userInput, e.conversionFactor) as [totalEmission]
	FROM Fact.Emission e
INNER JOIN Dimension.Submission s on s.id = e.submissionId
INNER JOIN Dimension.Event ev on ev.id = e.entityId AND e.entityTypeId = 2
INNER JOIN Dimension.Form f on f.id = s.formId
INNER JOIN Emissions.EmissionActivity ea on ea.id = e.emissionActivityId
LEFT JOIN Lookups.FormCategory fc on fc.id = f.categoryId
LEFT JOIN Emissions.EmissionCategory ec on ec.id = ea.parentId' 
GO
/****** Object:  View [DataModel].[vEvents]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[DataModel].[vEvents]'))
EXEC dbo.sp_executesql @statement = N'  CREATE VIEW [DataModel].[vEvents]
  AS
  SELECT [id]
      ,[title]
      ,[reference]
      ,[type]
      ,[organiserName]
      ,[organiserEmail]
      ,[companyName]
      ,[location]
      ,[locationType]
      ,[startDateTime]
      ,[endDateTime]
      ,[noOfAttendees]
      ,[active]
  FROM [Dimension].[Event]' 
GO
/****** Object:  Table [Emissions].[EmissionFactor]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionFactor]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionFactor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activityId] [int] NOT NULL,
	[ef] [decimal](10, 5) NULL,
	[wtt] [decimal](10, 5) NULL,
	[tnd] [decimal](10, 5) NULL,
	[tndWtt] [decimal](10, 5) NULL,
	[year] [int] NULL,
	[emissionProfileId] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  View [Emissions].[vEmissionFactors]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[Emissions].[vEmissionFactors]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [Emissions].[vEmissionFactors] AS 
SELECT a.id as [activityId], a.name as [activityName], ef.ef, ef.wtt, ef.tnd, ef.tndWtt, ef.emissionProfileId
FROM Emissions.EmissionActivity a
LEFT JOIN Emissions.EmissionFactor ef on ef.activityId = a.id' 
GO
/****** Object:  Table [Lookups].[QuestionType]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[QuestionType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[QuestionType](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[Question]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[Question]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reference] [nvarchar](100) NOT NULL,
	[displayText] [nvarchar](1000) NULL,
	[questionTypeId] [int] NULL,
	[inputTypeId] [int] NULL,
	[formId] [int] NOT NULL,
	[dataType] [nvarchar](25) NULL,
	[properties] [nvarchar](max) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  View [Forms].[vFormQuestions]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.views WHERE object_id = OBJECT_ID(N'[Forms].[vFormQuestions]'))
EXEC dbo.sp_executesql @statement = N'CREATE VIEW [Forms].[vFormQuestions] AS 
SELECT f.id as formId
			,f.name as formName
			,qp.questionId
			,q.reference
			,q.displayText
			,q.questionTypeId
			,qt.name as questionType
			,ea.id as emissionActivityId
			,ea.name as emiissionActivity
			,qp.rowNo
			,qp.columnNo
FROM Forms.QuestionProperties qp
INNER JOIN Forms.Question q on q.id = qp.questionId
INNER JOIN Emissions.EmissionActivity ea on ea.id = qp.emissionActivityId
INNER JOIN Dimension.Form f on f.id = q.formId
LEFT JOIN Lookups.QuestionType qt on qt.id = q.questionTypeId' 
GO
/****** Object:  Table [Dimension].[Customer]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [nvarchar](25) NULL,
	[description] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Person]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[mobile] [nvarchar](12) NULL,
	[address] [nvarchar](1000) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Emissions].[EmissionProfile]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionProfile]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionProfile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
	[year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[JotForm]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[JotForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[JotForm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[category] [nvarchar](50) NULL,
	[formId] [nvarchar](25) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[JotformRawResponse]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[JotformRawResponse]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[JotformRawResponse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[formId] [nvarchar](25) NOT NULL,
	[submissionId] [nvarchar](25) NOT NULL,
	[data] [nvarchar](max) NOT NULL,
	[processFlag] [bit] NOT NULL,
	[createdDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[JotformSubmission]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[JotformSubmission]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[JotformSubmission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submissionId] [nvarchar](25) NOT NULL,
	[createdDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[NczForm]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[NczForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[NczForm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[category] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[QuestionEmissionActivity]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[QuestionEmissionActivity]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[QuestionEmissionActivity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[questionId] [int] NOT NULL,
	[emissionActivityId] [int] NULL,
	[rowNo] [int] NULL,
	[columnNo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[DataSource]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[DataSource]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[DataSource](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[EntityType]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[EntityType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[EntityType](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[QuestionInputType]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[QuestionInputType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[QuestionInputType](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Customer__isActi__5FB337D6]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Customer] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__CustomerP__activ__634EBE90]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[CustomerProfile] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Event__active__308E3499]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Event] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Form__active__4D5F7D71]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Form] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Person__isActive__5EBF139D]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Person] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionA__activ__02FC7413]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionActivity] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionC__activ__3A179ED3]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionCategory] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionF__activ__00200768]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionFactor] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionA__activ__05D8E0BE]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionProfile] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__JotForm__active__73BA3083]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[JotForm] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__JotformRa__proce__0E6E26BF]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[JotformRawResponse] ADD  DEFAULT ((0)) FOR [processFlag]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__JotformRa__creat__19AACF41]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[JotformRawResponse] ADD  DEFAULT (getdate()) FOR [createdDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__JotformSu__creat__1A9EF37A]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[JotformSubmission] ADD  DEFAULT (getdate()) FOR [createdDate]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__NczForm__active__6FE99F9F]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[NczForm] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__Question__active__3A4CA8FD]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[Question] ADD  DEFAULT ((1)) FOR [active]
END
GO
/****** Object:  StoredProcedure [DataModel].[spEmissions_SelectForCertifications]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DataModel].[spEmissions_SelectForCertifications]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [DataModel].[spEmissions_SelectForCertifications] AS' 
END
GO
ALTER PROCEDURE [DataModel].[spEmissions_SelectForCertifications]
	 @customerReference nvarchar(50)
	,@emissionProfileId INT
	,@formId INT = NULL
AS
BEGIN

	SELECT e.* 
				,[Utilities].[CalculateEf](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalEf]
				,[Utilities].[CalculateWtt](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalWtt]
				,[Utilities].[CalculateTnd](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalTnd]
				,[Utilities].[CalculateTndWtt](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalTndWtt]
				,[Utilities].[CalculateTotalEmission](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalEmission]
		FROM [DataModel].[vCertificationSubsmissions] e
	 WHERE [customerReference] = @customerReference
		AND ([formId] = @formId OR @formId IS NULL);
END
GO
/****** Object:  StoredProcedure [DataModel].[spEmissions_SelectForEvents]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[DataModel].[spEmissions_SelectForEvents]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [DataModel].[spEmissions_SelectForEvents] AS' 
END
GO
ALTER PROCEDURE [DataModel].[spEmissions_SelectForEvents]
	 @eventReference nvarchar(50)
	,@emissionProfileId INT
	,@formId INT = NULL
AS
BEGIN

	SELECT e.* 
				,[Utilities].[CalculateEf](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalEf]
				,[Utilities].[CalculateWtt](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalWtt]
				,[Utilities].[CalculateTnd](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalTnd]
				,[Utilities].[CalculateTndWtt](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalTndWtt]
				,[Utilities].[CalculateTotalEmission](e.emissionActivityId, @emissionProfileId, e.userInput, e.conversionFactor) as [totalEmission]
		FROM [DataModel].[vEventSubmissions] e
	 WHERE [eventReference] = @eventReference
		AND ([formId] = @formId OR @formId IS NULL);
END

GO
/****** Object:  StoredProcedure [Dimension].[spCustomer_SaveProfile]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[spCustomer_SaveProfile]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Dimension].[spCustomer_SaveProfile] AS' 
END
GO
ALTER PROCEDURE [Dimension].[spCustomer_SaveProfile]
	 @reference nvarchar(50)
	,@name nvarchar(100)
	,@periodStart date
	,@periodEnd date
	,@headCount int
	,@annualRevenue decimal(10,2)
	,@industryType nvarchar(100)
	,@locations_JSON nvarchar(max) 
AS
BEGIN
	SET NOCOUNT ON;


	DECLARE @profileId int = (SELECT TOP 1 [id] FROM [Dimension].[CustomerProfile] WHERE [reference] = @reference AND active = 1)
	IF @profileId IS NULL 
	BEGIN
		INSERT INTO [Dimension].[CustomerProfile] (reference, name, periodStart, periodEnd, headCount, annualRevenue, industryType) 
			VALUES (@reference, @name, @periodStart, @periodEnd, @headCount, @annualRevenue, @industryType);
		SET @profileId = SCOPE_IDENTITY();
	END
	--ELSE 
	--BEGIN
		-- update?
	--END
	
	SELECT * FROM [Dimension].[CustomerProfile] WHERE [id] = @profileId;

	-- TODO: SAVE LOCATIONS HERE
	 
END

GO
/****** Object:  StoredProcedure [Dimension].[spEntity_Select]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[spEntity_Select]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Dimension].[spEntity_Select] AS' 
END
GO
ALTER PROCEDURE [Dimension].[spEntity_Select]
	@entityName nvarchar(50)
	,@entityTypeId int
AS
BEGIN
	SET NOCOUNT ON;
	IF @entityTypeId = 1 --Customer Profile
	BEGIN
			SELECT * 
				FROM [Dimension].[CustomerProfile]
			 WHERE [reference] = @entityName AND active=1; 
	END
	ELSE IF @entityTypeId = 2 --Events
	BEGIN
			SELECT * 
				FROM [Dimension].[Event]
			 WHERE [reference] = @entityName AND active=1; 
	END
END



GO
/****** Object:  StoredProcedure [Dimension].[spEvent_Save]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[spEvent_Save]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Dimension].[spEvent_Save] AS' 
END
GO
ALTER PROCEDURE [Dimension].[spEvent_Save]
	 @title nvarchar(100)
	,@reference nvarchar(50)
	,@type nvarchar(50)
	,@organiserName nvarchar(100)
	,@organiserEmail nvarchar(100)
	,@companyName nvarchar(100)
	,@startDateTime datetime
	,@endDateTime datetime
	,@location nvarchar(250)
	,@locationType nvarchar(100)
	,@noOfAttendees int
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @eventId int = (SELECT TOP 1 [id] FROM [Dimension].[Event] WHERE [reference] = @reference AND active = 1)
	IF @eventId IS NULL 
	BEGIN
		INSERT INTO [Dimension].[Event] (title, reference, type, organiserName, organiserEmail, companyName, startDateTime, endDateTime, location, locationType, noOfAttendees) 
			VALUES (@title, @reference, @type, @organiserName, @organiserEmail, @companyName, @startDateTime, @endDateTime, @location, @locationType, @noOfAttendees);
		SET @eventId = SCOPE_IDENTITY();
	END

	SELECT * FROM [Dimension].[Event] WHERE [id] = @eventId;
	 
END


GO
/****** Object:  StoredProcedure [Fact].[spEmission_Save]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Fact].[spEmission_Save]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Fact].[spEmission_Save] AS' 
END
GO
ALTER PROCEDURE [Fact].[spEmission_Save]
	 @entityId INT
	,@entityTypeId INT
	,@submissionId INT
	,@emissionActivityId INT
	,@userInput DECIMAL(10,2)
	,@month int
	,@conversionFactor decimal(10,4)
	,@reportingFrequencyId int
	,@dataUnit nvarchar(25)
AS
BEGIN
	SET NOCOUNT ON;

	--DECLARE @emissionId int = (SELECT TOP 1 [id] FROM [Fact].[Emission] WHERE [entityId] = @entityId AND entityTypeId = @entityTypeId AND emissionActivityId = @emissionActivityId AND [month] = @month)
	--IF @emissionId IS NULL 
	--BEGIN
		INSERT INTO [Fact].[Emission] (entityId, entityTypeId, submissionId, emissionActivityId, userInput, month, conversionFactor, reportingFrequencyId, dataUnit) 
			VALUES (@entityId, @entityTypeId, @submissionId, @emissionActivityId, @userInput, @month, @conversionFactor, @reportingFrequencyId, @dataUnit); 
		--SET @emissionId = SCOPE_IDENTITY();
	--END
	--ELSE 
	--BEGIN
		-- update user input, month, conversionFactor etc?
	--END
	 
END



GO
/****** Object:  StoredProcedure [Forms].[spForm_SaveRawResponse]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SaveRawResponse]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SaveRawResponse] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SaveRawResponse]
	@formID nvarchar(25)
	,@submissionID nvarchar(25)
	,@data nvarchar(max)
	,@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
	IF @dataSourceId = 1 
	BEGIN
		INSERT INTO [Forms].[JotformRawResponse] (formId, SubmissionId, data) 
			VALUES (@formID, @submissionID, @data);
	END
END
GO
/****** Object:  StoredProcedure [Forms].[spForm_SaveResponseData]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SaveResponseData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SaveResponseData] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SaveResponseData]
	@submissionId int,
	@responseData nvarchar(max),
	@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @data TABLE([questionId] int, [value] nvarchar(max), [submissionId] int) 
	INSERT INTO @data ([questionId], [value], [submissionId])
	SELECT *, @submissionId FROM OPENJSON(@responseData) WITH ([questionId] int '$.questionId', [value] nvarchar(max) '$.value')

	MERGE [Forms].[Response] r
	USING @data d
	ON (d.[submissionId] = r.[submissionId] AND d.[questionId] = r.[questionId])
	WHEN MATCHED
		THEN UPDATE
			SET r.[value] = d.[value]
	WHEN NOT MATCHED BY TARGET
		THEN INSERT ([questionId], [value], [submissionId])
			 VALUES (d.[questionId], d.[value], d.[submissionId])
	WHEN NOT MATCHED BY SOURCE AND r.[submissionId] = @submissionId
		THEN DELETE
	;
END
GO
/****** Object:  StoredProcedure [Forms].[spForm_SaveSubmission]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SaveSubmission]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SaveSubmission] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SaveSubmission]
	@extSubmissionId nvarchar(25)
	,@entityId INT
	,@entityTYpeId int
	,@formID int
	,@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sourceId int;
	IF @dataSourceId = 1
	BEGIN
		SET @sourceId = (SELECT TOP 1 [id] FROM [Forms].[JotformSubmission] WHERE [submissionId] = @extSubmissionId)
		IF @sourceId IS NULL 
		BEGIN
			INSERT INTO [Forms].[JotformSubmission] ([submissionId]) VALUES (@extSubmissionId);
			SET @sourceId = SCOPE_IDENTITY();
		END
	END

	-- Update Dimension.Submission TODO Create Refresh Proc for this.
	DECLARE @submissionId int = (SELECT TOP 1 [id] FROM [Dimension].[Submission] WHERE [sourceId] = @sourceId AND [dataSourceId] = @dataSourceId)
	IF @submissionId IS NULL 
	BEGIN
		INSERT INTO [Dimension].[Submission] (entityId, entityTypeId, formId, sourceId, dataSourceId) 
			VALUES (@entityId, @entityTYpeId, @formID, @sourceId, @dataSourceId);
		SET @submissionId = SCOPE_IDENTITY();
	END
	
	SELECT * FROM [Dimension].[Submission] WHERE [id] = @submissionId;
	 
END
GO
/****** Object:  StoredProcedure [Forms].[spForm_SelectByExternalId]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SelectByExternalId]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SelectByExternalId] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SelectByExternalId]
	@formId nvarchar(50)
	,@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
	IF @dataSourceId = 1 --Jotform
	BEGIN
			SELECT * 
				FROM [Forms].[JotForm]
			 WHERE [formId] = @formId AND active=1; 
	END
END



GO
/****** Object:  StoredProcedure [Forms].[spForm_SelectQuestions]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SelectQuestions]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SelectQuestions] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SelectQuestions]
	@formId int
AS
BEGIN
	SET NOCOUNT ON;

		SELECT q.*, emissions.entries as [emissionActivities]
			FROM [Forms].[Question] q
			OUTER APPLY (
				 SELECT emissionActivityId, rowNo, columnNo 
					FROM [Forms].[QuestionEmissionActivity] 
					WHERE [questionId] = q.[id] 
					FOR JSON PATH 
			) emissions(entries)
		WHERE formId = @formId AND active = 1;
END

GO
/****** Object:  StoredProcedure [Forms].[spFormResponse_MarkProcessed]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spFormResponse_MarkProcessed]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spFormResponse_MarkProcessed] AS' 
END
GO
ALTER PROCEDURE [Forms].[spFormResponse_MarkProcessed]
	@id int
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [Forms].[JotformRawResponse] 
		 SET [processFlag] = 1
	 WHERE [id] = @id;  
END
GO
/****** Object:  StoredProcedure [Forms].[spFormResponse_SelectToProcess]    Script Date: 26-12-2023 10:08:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spFormResponse_SelectToProcess]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spFormResponse_SelectToProcess] AS' 
END
GO
ALTER PROCEDURE [Forms].[spFormResponse_SelectToProcess]
	@max int = 10,
	@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
			SELECT TOP (@max)
						jr.id as [id]
						,f.id as [formId]
						,f.[entityTypeId]
						,jr.[submissionId]
						,jr.[data]
				FROM [Forms].[JotformRawResponse] jr
	INNER JOIN [Forms].[JotForm] jf on jf.[formId] = jr.[formId]
	INNER JOIN [Dimension].[Form] f on f.[sourceId] = jf.[id] AND f.[dataSourceId] = @dataSourceId
			 WHERE jr.[processFlag] = 0 AND f.[active] = 1;  
END
GO
