/****** Object:  Schema [DataModel]    Script Date: 10-11-2023 12:47:32 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'DataModel')
EXEC sys.sp_executesql N'CREATE SCHEMA [DataModel]'
GO
/****** Object:  Schema [Dimension]    Script Date: 10-11-2023 12:47:32 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Dimension')
EXEC sys.sp_executesql N'CREATE SCHEMA [Dimension]'
GO
/****** Object:  Schema [Emissions]    Script Date: 10-11-2023 12:47:32 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Emissions')
EXEC sys.sp_executesql N'CREATE SCHEMA [Emissions]'
GO
/****** Object:  Schema [Fact]    Script Date: 10-11-2023 12:47:32 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Fact')
EXEC sys.sp_executesql N'CREATE SCHEMA [Fact]'
GO
/****** Object:  Schema [Forms]    Script Date: 10-11-2023 12:47:32 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Forms')
EXEC sys.sp_executesql N'CREATE SCHEMA [Forms]'
GO
/****** Object:  Schema [Lookups]    Script Date: 10-11-2023 12:47:32 PM ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'Lookups')
EXEC sys.sp_executesql N'CREATE SCHEMA [Lookups]'
GO
/****** Object:  Table [Dimension].[Customer]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Customer]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[reference] [nvarchar](25) NULL,
	[description] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[CustomerProfile]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[CustomerProfile]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[CustomerProfile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[reference] [nvarchar](25) NULL,
	[description] [nvarchar](250) NULL,
	[periodStart] [date] NULL,
	[periodEnd] [date] NULL,
	[headCount] [int] NULL,
	[annualRevenue] [decimal](10, 2) NULL,
	[industryType] [nvarchar](100) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Event]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Event]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[type] [nvarchar](25) NULL,
	[description] [nvarchar](250) NULL,
	[date] [datetime] NULL,
	[location] [nvarchar](500) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Form]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Form]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[sourceId] [int] NOT NULL,
	[dataSourceId] [int] NOT NULL,
	[entityTypeId] [int] NOT NULL,
	[categoryId] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Person]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Person]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Person](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[mobile] [nvarchar](12) NULL,
	[address] [nvarchar](1000) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Dimension].[Submission]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[Submission]') AND type in (N'U'))
BEGIN
CREATE TABLE [Dimension].[Submission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[entityId] [int] NOT NULL,
	[entityTypeId] [int] NOT NULL,
	[formId] [int] NOT NULL,
	[sourceId] [int] NOT NULL,
	[dataSourceId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Emissions].[EmissionActivity]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionActivity]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionActivity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[parentId] [int] NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Emissions].[EmissionFactor]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionFactor]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionFactor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[activityId] [int] NOT NULL,
	[ef] [decimal](10, 4) NULL,
	[wtt] [decimal](10, 4) NULL,
	[tnd] [decimal](10, 4) NULL,
	[tndWtt] [decimal](10, 4) NULL,
	[year] [int] NULL,
	[emissionProfileId] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Emissions].[EmissionProfile]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[EmissionProfile]') AND type in (N'U'))
BEGIN
CREATE TABLE [Emissions].[EmissionProfile](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[active] [bit] NOT NULL,
	[year] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Fact].[Emission]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Fact].[Emission]') AND type in (N'U'))
BEGIN
CREATE TABLE [Fact].[Emission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emissionActivityId] [int] NOT NULL,
	[entityId] [int] NOT NULL,
	[entityTypeId] [int] NOT NULL,
	[submissionId] [int] NULL,
	[month] [int] NULL,
	[year] [int] NULL,
	[reportingFrequencyId] [int] NULL,
	[userInput] [decimal](10, 2) NULL,
	[conversionFactor] [decimal](10, 4) NULL,
	[dataUnit] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[JotForm]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[JotForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[JotForm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[category] [nvarchar](50) NULL,
	[formId] [nvarchar](25) NOT NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[JotformRawResponse]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[JotformRawResponse]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[JotformRawResponse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[formId] [nvarchar](25) NOT NULL,
	[submissionId] [nvarchar](25) NOT NULL,
	[data] [nvarchar](max) NOT NULL,
	[processFlag] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[JotformSubmission]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[JotformSubmission]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[JotformSubmission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[submissionId] [nvarchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[NczForm]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[NczForm]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[NczForm](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](250) NULL,
	[category] [nvarchar](50) NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Forms].[Question]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[Question]') AND type in (N'U'))
BEGIN
CREATE TABLE [Forms].[Question](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[reference] [nvarchar](100) NOT NULL,
	[displayText] [nvarchar](1000) NULL,
	[questionTypeId] [int] NULL,
	[inputTypeId] [int] NULL,
	[formId] [int] NOT NULL,
	[dataType] [nvarchar](25) NULL,
	[emissionActivityId] [int] NULL,
	[active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[DataSource]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[DataSource]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[DataSource](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[EntityType]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[EntityType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[EntityType](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[FormCategory]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[FormCategory]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[FormCategory](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[QuestionInputType]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[QuestionInputType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[QuestionInputType](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[QuestionType]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[QuestionType]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[QuestionType](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [Lookups].[ReportingFrequency]    Script Date: 10-11-2023 12:47:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Lookups].[ReportingFrequency]') AND type in (N'U'))
BEGIN
CREATE TABLE [Lookups].[ReportingFrequency](
	[id] [int] NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [Dimension].[Customer] ON 

INSERT [Dimension].[Customer] ([id], [name], [reference], [description], [active]) VALUES (1, N'NIL-2023-6', N'NIL-2023-6', NULL, 1)
INSERT [Dimension].[Customer] ([id], [name], [reference], [description], [active]) VALUES (2, N'NIL-1234-123', N'NIL-1234-123', NULL, 1)
SET IDENTITY_INSERT [Dimension].[Customer] OFF
GO
SET IDENTITY_INSERT [Dimension].[CustomerProfile] ON 

INSERT [Dimension].[CustomerProfile] ([id], [name], [reference], [description], [periodStart], [periodEnd], [headCount], [annualRevenue], [industryType], [active]) VALUES (1, N'NIL-2023-6', N'NIL-2023-6', NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [Dimension].[CustomerProfile] ([id], [name], [reference], [description], [periodStart], [periodEnd], [headCount], [annualRevenue], [industryType], [active]) VALUES (2, N'NIL-1234-123', N'NIL-1234-123', NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [Dimension].[CustomerProfile] OFF
GO
SET IDENTITY_INSERT [Dimension].[Form] ON 

INSERT [Dimension].[Form] ([id], [name], [description], [sourceId], [dataSourceId], [entityTypeId], [categoryId], [active]) VALUES (1, N'Water v1.0', N'Jotform', 1, 1, 1, 1, 1)
INSERT [Dimension].[Form] ([id], [name], [description], [sourceId], [dataSourceId], [entityTypeId], [categoryId], [active]) VALUES (2, N'Electricity v1.0', N'jotform', 2, 1, 1, 1, 1)
INSERT [Dimension].[Form] ([id], [name], [description], [sourceId], [dataSourceId], [entityTypeId], [categoryId], [active]) VALUES (3, N'Natural Gas v1.0', N'jotform', 3, 1, 1, 1, 1)
SET IDENTITY_INSERT [Dimension].[Form] OFF
GO
SET IDENTITY_INSERT [Dimension].[Submission] ON 

INSERT [Dimension].[Submission] ([id], [entityId], [entityTypeId], [formId], [sourceId], [dataSourceId]) VALUES (1, 2, 1, 4, 1, 1)
INSERT [Dimension].[Submission] ([id], [entityId], [entityTypeId], [formId], [sourceId], [dataSourceId]) VALUES (2, 2, 1, 4, 2, 1)
SET IDENTITY_INSERT [Dimension].[Submission] OFF
GO
SET IDENTITY_INSERT [Emissions].[EmissionActivity] ON 

INSERT [Emissions].[EmissionActivity] ([id], [parentId], [name], [description], [active]) VALUES (1, NULL, N'Water', NULL, 1)
INSERT [Emissions].[EmissionActivity] ([id], [parentId], [name], [description], [active]) VALUES (2, NULL, N'Electricity', NULL, 1)
INSERT [Emissions].[EmissionActivity] ([id], [parentId], [name], [description], [active]) VALUES (3, NULL, N'Natural Gas', NULL, 1)
GO
SET IDENTITY_INSERT [Emissions].[EmissionActivity] OFF
GO
SET IDENTITY_INSERT [Emissions].[EmissionFactor] ON 

INSERT [Emissions].[EmissionFactor] ([id], [activityId], [ef], [wtt], [tnd], [tndWtt], [year], [emissionProfileId], [active]) VALUES (1, 1, CAST(0.1490 AS Decimal(10, 4)), CAST(0.2720 AS Decimal(10, 4)), NULL, NULL, 2022, 1, 1)
INSERT [Emissions].[EmissionFactor] ([id], [activityId], [ef], [wtt], [tnd], [tndWtt], [year], [emissionProfileId], [active]) VALUES (2, 2, CAST(0.1934 AS Decimal(10, 4)), CAST(0.0463 AS Decimal(10, 4)), NULL, NULL, 2022, 1, 1)
INSERT [Emissions].[EmissionFactor] ([id], [activityId], [ef], [wtt], [tnd], [tndWtt], [year], [emissionProfileId], [active]) VALUES (3, 3, CAST(0.2000 AS Decimal(10, 4)), CAST(0.0345 AS Decimal(10, 4)), NULL, NULL, 2022, 1, 1)
GO
SET IDENTITY_INSERT [Emissions].[EmissionFactor] OFF
GO
SET IDENTITY_INSERT [Emissions].[EmissionProfile] ON 

INSERT [Emissions].[EmissionProfile] ([id], [name], [description], [active], [year]) VALUES (1, N'UAE 2022', NULL, 1, 2022)
INSERT [Emissions].[EmissionProfile] ([id], [name], [description], [active], [year]) VALUES (2, N'UK 2022', NULL, 1, 2022)
SET IDENTITY_INSERT [Emissions].[EmissionProfile] OFF
GO
SET IDENTITY_INSERT [Forms].[JotForm] ON 

INSERT [Forms].[JotForm] ([id], [name], [description], [category], [formId], [active]) VALUES (1, N'Water v1.0', N'', N'', N'231921316591454', 1)
INSERT [Forms].[JotForm] ([id], [name], [description], [category], [formId], [active]) VALUES (2, N'Electricity v1.0', N'', N'', N'231835207128453', 1)
INSERT [Forms].[JotForm] ([id], [name], [description], [category], [formId], [active]) VALUES (3, N'Natural Gas v1.0', N'', N'', N'231761029921959', 1)
SET IDENTITY_INSERT [Forms].[JotForm] OFF
GO
SET IDENTITY_INSERT [Forms].[JotformSubmission] ON 

INSERT [Forms].[JotformSubmission] ([id], [submissionId]) VALUES (1, N'5752728175625540550')
INSERT [Forms].[JotformSubmission] ([id], [submissionId]) VALUES (2, N'5752731475622898860')
SET IDENTITY_INSERT [Forms].[JotformSubmission] OFF
GO
SET IDENTITY_INSERT [Forms].[Question] ON 

INSERT [Forms].[Question] ([id], [reference], [displayText], [questionTypeId], [inputTypeId], [formId], [dataType], [emissionActivityId], [active]) VALUES (1, N'q9_customerId', N'', 1, 1, 1, N'nvarchar', NULL, 1)
INSERT [Forms].[Question] ([id], [reference], [displayText], [questionTypeId], [inputTypeId], [formId], [dataType], [emissionActivityId], [active]) VALUES (2, N'q44_haveYou', N'', NULL, 1, 1, N'nvarchar', NULL, 1)
INSERT [Forms].[Question] ([id], [reference], [displayText], [questionTypeId], [inputTypeId], [formId], [dataType], [emissionActivityId], [active]) VALUES (3, N'q19_howWould19', N'', NULL, 1, 1, N'nvarchar', NULL, 1)
SET IDENTITY_INSERT [Forms].[Question] OFF
GO
INSERT [Lookups].[DataSource] ([id], [name]) VALUES (1, N'JotForm')
INSERT [Lookups].[DataSource] ([id], [name]) VALUES (2, N'NczForm')
GO
INSERT [Lookups].[EntityType] ([id], [name]) VALUES (1, N'CustomerProfile')
INSERT [Lookups].[EntityType] ([id], [name]) VALUES (2, N'Event')
INSERT [Lookups].[EntityType] ([id], [name]) VALUES (3, N'Meeting')
GO
INSERT [Lookups].[FormCategory] ([id], [name]) VALUES (1, N'Certification')
INSERT [Lookups].[FormCategory] ([id], [name]) VALUES (2, N'Event')
INSERT [Lookups].[FormCategory] ([id], [name]) VALUES (3, N'Meeting')
GO
INSERT [Lookups].[QuestionInputType] ([id], [name]) VALUES (1, N'TextBox')
INSERT [Lookups].[QuestionInputType] ([id], [name]) VALUES (2, N'TextArea')
INSERT [Lookups].[QuestionInputType] ([id], [name]) VALUES (3, N'Date')
GO
INSERT [Lookups].[QuestionType] ([id], [name]) VALUES (1, N'EntityReference')
INSERT [Lookups].[QuestionType] ([id], [name]) VALUES (2, N'ReportingFrequency')
INSERT [Lookups].[QuestionType] ([id], [name]) VALUES (3, N'OptInPreference')
GO
INSERT [Lookups].[ReportingFrequency] ([id], [name]) VALUES (1, N'weekly')
INSERT [Lookups].[ReportingFrequency] ([id], [name]) VALUES (2, N'monthly')
INSERT [Lookups].[ReportingFrequency] ([id], [name]) VALUES (3, N'annualised_monthly')
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Customer__isActi__5FB337D6]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Customer] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__CustomerP__activ__634EBE90]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[CustomerProfile] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Event__isActive__6383C8BA]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Event] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Form__active__4D5F7D71]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Form] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[DF__Person__isActive__5EBF139D]') AND type = 'D')
BEGIN
ALTER TABLE [Dimension].[Person] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionA__activ__02FC7413]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionActivity] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionF__activ__00200768]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionFactor] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Emissions].[DF__EmissionA__activ__05D8E0BE]') AND type = 'D')
BEGIN
ALTER TABLE [Emissions].[EmissionProfile] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__JotForm__active__73BA3083]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[JotForm] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__JotformRa__proce__0E6E26BF]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[JotformRawResponse] ADD  DEFAULT ((0)) FOR [processFlag]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__NczForm__active__6FE99F9F]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[NczForm] ADD  DEFAULT ((1)) FOR [active]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[DF__Question__active__3A4CA8FD]') AND type = 'D')
BEGIN
ALTER TABLE [Forms].[Question] ADD  DEFAULT ((1)) FOR [active]
END
GO
/****** Object:  StoredProcedure [Dimension].[spCustomer_SaveProfile]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[spCustomer_SaveProfile]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Dimension].[spCustomer_SaveProfile] AS' 
END
GO
ALTER PROCEDURE [Dimension].[spCustomer_SaveProfile]
	 @reference nvarchar(50)
	,@name nvarchar(100)
	,@periodStart date
	,@periodEnd date
	,@headCount int
	,@annualRevenue decimal(10,2)
	,@industryType nvarchar(100)
	,@locations_JSON nvarchar(max) 
AS
BEGIN
	SET NOCOUNT ON;


	DECLARE @profileId int = (SELECT TOP 1 [id] FROM [Dimension].[CustomerProfile] WHERE [reference] = @reference AND active = 1)
	IF @profileId IS NULL 
	BEGIN
		INSERT INTO [Dimension].[CustomerProfile] (reference, name, periodStart, periodEnd, headCount, annualRevenue, industryType) 
			VALUES (@reference, @name, @periodStart, @periodEnd, @headCount, @annualRevenue, @industryType);
		SET @profileId = SCOPE_IDENTITY();
	END
	--ELSE 
	--BEGIN
		-- update?
	--END
	
	SELECT * FROM [Dimension].[CustomerProfile] WHERE [id] = @profileId;

	-- TODO: SAVE LOCATIONS HERE
	 
END

GO
/****** Object:  StoredProcedure [Dimension].[spEntity_Select]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Dimension].[spEntity_Select]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Dimension].[spEntity_Select] AS' 
END
GO
ALTER PROCEDURE [Dimension].[spEntity_Select]
	@entityName nvarchar(50)
	,@entityTypeId int
AS
BEGIN
	SET NOCOUNT ON;
	IF @entityTypeId = 1 --Customer Profile
	BEGIN
			SELECT * 
				FROM [Dimension].[CustomerProfile]
			 WHERE [reference] = @entityName AND active=1; 
	END
END



GO
/****** Object:  StoredProcedure [Fact].[spEmission_Save]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Fact].[spEmission_Save]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Fact].[spEmission_Save] AS' 
END
GO
ALTER PROCEDURE [Fact].[spEmission_Save]
	 @entityId INT
	,@entityTypeId INT
	,@submissionId INT
	,@emissionActivityId INT
	,@userInput DECIMAL(10,2)
	,@month int
	,@conversionFactor decimal(10,2)
	,@reportingFrequencyId int
	,@dataUnit nvarchar(25)
AS
BEGIN
	SET NOCOUNT ON;

	--DECLARE @emissionId int = (SELECT TOP 1 [id] FROM [Fact].[Emission] WHERE [entityId] = @entityId AND entityTypeId = @entityTypeId AND emissionActivityId = @emissionActivityId AND [month] = @month)
	--IF @emissionId IS NULL 
	--BEGIN
		INSERT INTO [Fact].[Emission] (entityId, entityTypeId, submissionId, emissionActivityId, userInput, month, conversionFactor, reportingFrequencyId, dataUnit) 
			VALUES (@entityId, @entityTypeId, @submissionId, @emissionActivityId, @userInput, @month, @conversionFactor, @reportingFrequencyId, @dataUnit); 
		--SET @emissionId = SCOPE_IDENTITY();
	--END
	--ELSE 
	--BEGIN
		-- update user input, month, conversionFactor etc?
	--END
	 
END



GO
/****** Object:  StoredProcedure [Forms].[spForm_SaveRawResponse]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SaveRawResponse]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SaveRawResponse] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SaveRawResponse]
	@formID nvarchar(25)
	,@submissionID nvarchar(25)
	,@data nvarchar(max)
	,@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
	IF @dataSourceId = 1 
	BEGIN
		INSERT INTO [Forms].[JotformRawResponse] (formId, SubmissionId, data) 
			VALUES (@formID, @submissionID, @data);
	END
END
GO
/****** Object:  StoredProcedure [Forms].[spForm_SaveResponseData]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SaveResponseData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SaveResponseData] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SaveResponseData]
	@submissionId int,
	@responseData nvarchar(max),
	@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @data TABLE([questionId] int, [value] nvarchar(max), [submissionId] int) 
	INSERT INTO @data ([questionId], [value], [submissionId])
	SELECT *, @submissionId FROM OPENJSON(@responseData) WITH ([questionId] int '$.questionId', [value] nvarchar(max) '$.value')

	MERGE [Forms].[Response] r
	USING @data d
	ON (d.[submissionId] = r.[submissionId] AND d.[questionId] = r.[questionId])
	WHEN MATCHED
		THEN UPDATE
			SET r.[value] = d.[value]
	WHEN NOT MATCHED BY TARGET
		THEN INSERT ([questionId], [value], [submissionId])
			 VALUES (d.[questionId], d.[value], d.[submissionId])
	WHEN NOT MATCHED BY SOURCE AND r.[submissionId] = @submissionId
		THEN DELETE
	;
END
GO
/****** Object:  StoredProcedure [Forms].[spForm_SaveSubmission]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SaveSubmission]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SaveSubmission] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SaveSubmission]
	@extSubmissionId nvarchar(25)
	,@entityId INT
	,@entityTYpeId int
	,@formID int
	,@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @sourceId int;
	IF @dataSourceId = 1
	BEGIN
		SET @sourceId = (SELECT TOP 1 [id] FROM [Forms].[JotformSubmission] WHERE [submissionId] = @extSubmissionId)
		IF @sourceId IS NULL 
		BEGIN
			INSERT INTO [Forms].[JotformSubmission] ([submissionId]) VALUES (@extSubmissionId);
			SET @sourceId = SCOPE_IDENTITY();
		END
	END

	-- Update Dimension.Submission TODO Create Refresh Proc for this.
	DECLARE @submissionId int = (SELECT TOP 1 [id] FROM [Dimension].[Submission] WHERE [sourceId] = @sourceId AND [dataSourceId] = @dataSourceId)
	IF @submissionId IS NULL 
	BEGIN
		INSERT INTO [Dimension].[Submission] (entityId, entityTypeId, formId, sourceId, dataSourceId) 
			VALUES (@entityId, @entityTYpeId, @formID, @sourceId, @dataSourceId);
		SET @submissionId = SCOPE_IDENTITY();
	END
	
	SELECT * FROM [Dimension].[Submission] WHERE [id] = @submissionId;
	 
END
GO
/****** Object:  StoredProcedure [Forms].[spForm_SelectEntity]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SelectEntity]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SelectEntity] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SelectEntity]
	@entityName nvarchar(50)
	,@entityTypeId int
AS
BEGIN
	SET NOCOUNT ON;
	IF @entityTypeId = 1 --Customer Profile
	BEGIN
			SELECT * 
				FROM [Dimension].[CustomerProfile]
			 WHERE [reference] = @entityName AND active=1; 
	END
END


GO
/****** Object:  StoredProcedure [Forms].[spForm_SelectQuestions]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spForm_SelectQuestions]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spForm_SelectQuestions] AS' 
END
GO
ALTER PROCEDURE [Forms].[spForm_SelectQuestions]
	@formId int
AS
BEGIN
	SET NOCOUNT ON;

		SELECT q.*, properties.entries as [properties]
			FROM [Forms].[Question] q
			OUTER APPLY (
				 SELECT emissionActivityId, rowNo, columnNo 
					FROM [Forms].[QuestionProperties] 
					WHERE [questionId] = q.[id] 
					FOR JSON PATH 
			) properties(entries)
		WHERE formId = @formId AND active = 1;
END

GO
/****** Object:  StoredProcedure [Forms].[spFormResponse_MarkProcessed]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spFormResponse_MarkProcessed]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spFormResponse_MarkProcessed] AS' 
END
GO
ALTER PROCEDURE [Forms].[spFormResponse_MarkProcessed]
	@id int
AS
BEGIN
	SET NOCOUNT ON;
	UPDATE [Forms].[JotformRawResponse] 
		 SET [processFlag] = 1
	 WHERE [id] = @id;  
END
GO
/****** Object:  StoredProcedure [Forms].[spFormResponse_SelectToProcess]    Script Date: 10-11-2023 12:47:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Forms].[spFormResponse_SelectToProcess]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [Forms].[spFormResponse_SelectToProcess] AS' 
END
GO
ALTER PROCEDURE [Forms].[spFormResponse_SelectToProcess]
	@max int = 10,
	@dataSourceId int = 1
AS
BEGIN
	SET NOCOUNT ON;
			SELECT TOP (@max)
						jr.id as [id]
						,f.id as [formId]
						,f.[entityTypeId]
						,jr.[submissionId]
						,jr.[data]
				FROM [Forms].[JotformRawResponse] jr
	INNER JOIN [Forms].[JotForm] jf on jf.[formId] = jr.[formId]
	INNER JOIN [Dimension].[Form] f on f.[sourceId] = jf.[id] AND f.[dataSourceId] = @dataSourceId
			 WHERE jr.[processFlag] = 0 AND f.[active] = 1;  
END
GO
